
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}
header {
  background-color: #111;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

header img {
  border-radius: 50%;
}

nav {
  background-color: #222;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.banner {
  text-align: center;
  background-image: url("../images/nnnn.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  padding: 100px 20px;
}

.banner h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.banner button {
  background-color: rgb(252, 167, 8);
  border: none;
  padding: 12px 25px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px;
  flex-wrap: wrap;
}

section h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

section div {
  flex: 1;
  min-width: 250px;
  margin: 15px;
}

section img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 50px;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
}


@media (max-width: 768px) {
  .banner {
    padding: 60px 20px;
  }

  section {
    flex-direction: column;
    padding: 20px;
  }

  section img {
    max-width: 100%;
    margin-top: 20px;
  }
}

